:root {
  --color-bg: hsl(0, 0%, 100%);
  
  --textDefault: hsl(0, 0%, 0%);
  --textL: hsl(0, 0%, 10%);
  --textM: hsl(0, 0%, 20%);
  --textS: hsl(0, 0%, 30%);
  
  --btn-bg: hsl(0, 0%, 0%);
  --btn-text: hsl(0, 0%, 100%);
  --btn-hover: hsl(0, 0%, 20%);
  
  --link-color: hsl(0, 0%, 0%);
  --link-hover: hsl(0, 0%, 30%);
  
  --divider: hsl(0, 0%, 50%);
}
[data-theme="dark"] {
  --color-bg: hsl(0, 0%, 10%);
  
  --textDefault: hsl(0, 0%, 100%);
  --textL: hsl(0, 0%, 90%);
  --textM: hsl(0, 0%, 80%);
  --textS: hsl(0, 0%, 70%);
  
  --btn-bg: hsl(0, 0%, 100%);
  --btn-text: hsl(0, 0%, 10%);
  --btn-hover: hsl(0, 0%, 90%);
  
  --link-color: hsl(0, 0%, 100%);
  --link-hover: hsl(0, 0%, 70%);
  
  --divider: hsl(0, 0%, 80%);
}

body {
  background: var(--color-bg);
  color: var(--textL);

  transition: all 0.5s ease;
}